@media (max-width: 768px) {
    header nav {
        padding: 0 5px;
    }
    header nav label[for="menu"]{
        display: flex;
    }
    header nav ul {
        width: 100%;
        height: 0;
        background: #1f2021;
        position: absolute;
        top: 100%;
        left: 0;
        transition: 0.3s;
    }
    header nav ul li,
    header nav ul li a {
        padding: 0;
        font-size: 0;
        background: #1f2021;
    }
    header nav input.menu:checked ~ ul,
    header nav input.menu:checked ~ ul li,
    header nav input.menu:checked ~ ul li a {
        display: block;
        height: 100%;
    }
    header nav input.menu:checked ~ ul li a {
        font-size: 13px;
        padding: 0.7rem .6rem;
    }
    header nav ul li:not(:last-of-type) {
        border-bottom: 2px solid black;
    }
    header nav form.search {
        margin-right: 8vw;
    }
    header nav form.search label i.search-icon {
        font-size: 1rem;
    }
    header nav form.search input[type="search"] {
        font-size: 12px;
    }
    main .email p {
        text-align: center;
        margin-top: 10px;
    }

}
@media (min-width: 768px) {
    main .services .services-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10.9vw;
        grid-row-gap: 20px;
    }
}
@media (max-width: 426px) {
    header .home .text {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    header .home .text .content {
        padding: 0;
    }
    header .home .text .content p {
        width: 48ch;
    }
    header .home .change-background {
        display: none;
    }
    header .home .bullets li {
        display: none;
    }

    main .services .services-box .services-card {
        flex-direction: column;
        text-align: center;
    }
    main .services .services-box .services-card i {
        margin: 0 0 0.6rem 0;
    }

    main .design div {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }
    main .design .img {
        bottom: -10%;
    }
    main .design .img img {
        position: unset;
    }
    main .design .text {
        padding: 50px 2%;
    }
    main .contact-us form .group .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    main .contact-us .container {
        width: 100%;
    }
}
@media (min-width: 426px) {
    main .contact-us form .group {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        justify-content: space-between;
    }
    main .contact-us form .group .info {
        margin-left: 15px;
    }
}